{% extends 'base.html.twig' %}

{% block title %}Post{% endblock %}

{% block body %}
    <div class="container">
        <h1>Post</h1>

        <table class="table">
            <tbody>
            <tr>
                <th>Id</th>
                <td>{{ post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ post.title }}</td>
            </tr>
            <tr>
                <th>Detail</th>
                <td>{{ post.detail }}</td>
            </tr>
            <tr>
                <th>Published Date</th>
                <td>{{ post.publisheddate ? post.publisheddate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Owner</th>
                <td>{{ post.owner }}</td>
            </tr>
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ path('post_index') }}">Back to list</a>

        <a class="btn btn-warning" href="{{ path('post_edit', {'id': post.id}) }}">Edit</a>

        {{ include('post/_delete_form.html.twig') }}
    </div>
{% endblock %}
